<div class="container-fluid d-none d-lg-block px-0">
    <div id="carouselExampleControls"
         class="carousel slide"
         data-bs-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">

                    <rect width="100%" height="100%" fill="#3A3276"/>

                </svg>

                <div class="carousel-caption d-none d-md-block">
                    <h5>Confira os lançamentos.</h5>
                    <p>Mais de 50 jogos lançaram esse mês, acompanhe os lançamentos.</p>
                </div>

            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">

                    <rect width="100%" height="100%" fill="#198754"/>

                </svg>

                <div class="carousel-caption d-none d-md-block">
                    <h5>Crie sua conta para poder acompanhar tudo através do seu e-mail.</h5>
                    <p>Faça login com sua rede social ou Gmail.</p>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">

                    <rect width="100%" height="100%" fill="#727376"/>

                </svg>

                <div class="carousel-caption d-none d-md-block">
                    <h5>Inscreva-se no nosso canal do Youtube.</h5>
                    <p>Conheça nosso canal no Youtube com análises, reviews e gameplay semanais.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">

            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>