<footer class="bg-dark py-4 mt-5">
    <div class="contrainer-fluid text-white">
        <div class="row justify-content-center">

            <div class="col-lg-2 text-left">
                <h5 class="text-uppercase fw-bold text-info">Nosso objetivo</h5>
                <p>
                    Concluir a cadeira final com êxito e ter um case para utilizar no portfólio
                </p>
            </div>

            <div class="col-lg-4 text-left">
                <h5 class="text-uppercase fw-bold text-info">Quem somos?</h5>
                <p>
                    Thales Caruso - Estudante de ADS 5º Semestre <br>Alexandre Malabarba - Estudante de ADS 5º Semestre
                </p>
            </div>

            <div class="col-lg-2">
                <h5 class="text-uppercase fw-bold text-info">Nossas redes sociais</h5>
                <p>
                    <i class="fa-brands fa-youtube"></i>
                    <a href="https://www.youtube.com/channel/UCoCf2F5oBPKKC1iB1dgV4Kw" class="text-white"
                       style="text-decoration:none;">Youtube</a>
                </p>
                <p>
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/ThalesCaruso" class="text-white"
                       style="text-decoration:none;">GitHub</a>
                </p>
            </div>

        </div>
    </div>
</footer>