html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.footer-botom {
    flex: 0 0 50px;
    margin-top: auto;
}
img, svg {
    vertical-align: middle;
    max-width: 100%;
    display: block;
    margin:auto;
}